html {
    background-color: #242424;
    color: #FFFFFF;
    font-family: Arial, sans-serif; /* par défaut, à changer */
    position: relative;
    overflow-x: hidden;
}

main {
    padding: 100px 0;
    height: 1500px;
}

main > img {
    position: absolute;
    z-index: -1;
}

#de {
    top: -50px;
    right: -100px;
}

#echecs {
    top: 40%;
    right: -70px;
}

#famille {
    top: 18%;
    left: -70px;
}

form > * {
    display: block;
}

button, .orange {
    color: #EA9632;
}

.blanc {
    color: #FFFFFF;
}

button {
    background: none;
}

form {
    position: relative;
    width: 500px;
}

form > input {
    background: none;
    border: none;
    border-bottom: #EA9632 solid 1px;
    width: 200px;
    padding-top: 10px;
}

form > label {
    padding-top: 10px;
}

form > input[value="Inscrivez-vous"] {
    background-color: #EA9632;
    border: none;
    color: #FFFFFF;
    position: absolute;
    bottom: 10%;
    right: 0;
    padding: 10px 40px;
}

aside img {
    width: 200px;
    height: 200px;
}

aside > div {
    display: inline-block;
    padding-right: 50px;
}

footer {
    background-color: #FFFFFF;
    color: #242424;
}

footer > div {
    display: inline-block;
}

header > * {
    display: inline-block;
}

header > h1 {
    width: 200px;
}

header > img {
    height: 150px;
    width: auto;
}

.para {
    position: absolute;
    padding: 10px;
    border-top: #EA9632 solid 1px;
    border-right: #227F89 solid 1px;
    border-bottom: #227F89 solid 1px;
    border-left: #EA9632 solid 1px;
    width: 400px;
}

.para:first-of-type {
    top: 9%;
}

.para:nth-of-type(2) {
    top: 27%;
    right: 0;
}

.para:nth-of-type(3) {
    top: 45%
}

#formulaire {
    position: absolute;
    top: 59%
}