html {
    background-color: #242424;
    color: #FFFFFF;
    font-family: Arial, sans-serif; /* par défaut, à changer */
    position: relative;
}

main {
    padding: 100px 0;
}

main > img {
    position: absolute;
    z-index: -1;
}

#de {
    top: 0;
    right: -100px;
}

#echecs {
    top: 50%;
    right: -50px;
}

#famille {
    top: 25%;
    left: -50px;
}

form > * {
    display: block;
}

button, .orange {
    color: #EA9632;
}

.blanc {
    color: #FFFFFF;
}

button {
    background: none;
}

main > div > p {
    display: block;
    width: 400px;
}

form {
    position: relative;
}

form > input {
    background: none;
    border: none;
    border-bottom: #EA9632 solid 1px;
    width: 200px;
}

form > input[value="Inscrivez-vous"] {
    background-color: #EA9632;
    border: none;
    color: #FFFFFF;
    position: absolute;
    bottom: 10%;
    left: 40%;
}

aside img {
    width: 200px;
    height: 200px;
}

aside > div {
    display: inline-block;
    padding-right: 50px;
}

footer {
    background-color: #FFFFFF;
    color: #242424;
}

footer > div {
    display: inline-block;
}

header > * {
    display: inline-block;
}

header > h1 {
    width: 200px;
}